body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#grid-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    min-width: 300px;
    min-height: 300px;
}

.row {
    display: flex;
    flex: 1;
    border: 2px solid black
}

#grid-container div:not(:first-child) {
    border-top: 0;
}

.square {
    border-right: 2px solid black;
    flex: 1;
}

.row div:last-child {
    border-right: 0;
}